.details {
  display: flex;
  flex-direction: column;
  width: 30rem;
  height: 100%;
  margin: 2rem auto;
  box-shadow: 0 4px 8px #0000001a;
  padding-bottom: 1.5rem;

  &__image {
    width: 10%;
    margin: 2rem auto;
  }

  &__title {
    text-align: center;
    font-size: 1.5rem;
  }

  &__description {
    text-align: center;
    padding: 0.5rem 0;
    padding-inline: 1rem;
  }

  &__abv {
    text-align: center;
    border: 2px solid black;
    width: 8rem;
    margin: 1rem auto;
    font-size: 20px;
    border-radius: 30px;
    padding: 3px 10px;
  }

  &__text {
    padding: 0.8rem 1rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding: 0.8rem 1rem;
  }

  &__item {
    padding-top: 0.4rem;
  }
}
