* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  list-style: none;
}

.container {
  display: inline-flex;
  margin-inline: 4rem;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.item {
  width: 15rem;
  border: 3px solid gray;
  border-radius: 10px;
}

.item-selected {
  width: 15rem;
  border: 3px solid red;
  border-radius: 10px;
}

.img {
  margin-top: 1rem;
  margin-left: 25%;
  height: 20rem;
  width: 7rem;
}

.title {
  text-align: center;
  font-size: 1rem;
  padding-top: 2rem;
}

.tagline {
  padding-top: 1rem;
  text-align: center;
  padding-bottom: 1rem;
}

.delete-btn {
  width: 5rem;
  height: 3rem;
  margin-left: 4rem;
  margin-top: 1rem;
}

.back-btn {
  margin-left: 2rem;
  margin-top: 2rem;
  width: 10rem;
  height: 3rem;
}

.details-container {
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

.content {
  position: absolute;
  top: 15rem;
  left: 40rem;
}

.details-img {
  position: absolute;
  width: 10rem;
  top: 10rem;
  left: 15rem;
}

.details-description {
  display: flex;
  padding-top: 2rem;
  width: 60%;
}

.details-paired {
  padding-top: 1rem;
}

.details-tips {
  padding-top: 1rem;
  width: 60%;
}